body {
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  min-height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
  width: 100%;
}

a {
  transition: 0.5s;
}

.right-container {
  width: 100%;
}

.content-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.toggle-theme-container {
  text-align: center;
}

.navbar .button-default {
  padding: 5px;
  margin: 15px;
}

.navbar .button-default .far,
.navbar .button-default .fas {
  margin-right: 5px;
}
