body {
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  min-height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
  width: 100%;
}

h1 {
  font-size: 40px;
}

a {
  transition: 0.5s;
}

.bold {
  font-weight: bold;
}

.right-container {
  width: 100%;
}

.content-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.toggle-theme-container {
  text-align: center;
}

.button-default {
  cursor: pointer;
}

.awesome-text-gradient {
  background: rgba(0, 212, 255);
  background: linear-gradient(90deg, rgba(196,43,175,1) 25%, rgba(0,212,255,1) 75%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.awesome-gradient {
  background: rgba(0, 212, 255);
  background: linear-gradient(90deg, transparent, rgba(196,43,175,1), rgba(0,212,255,1), transparent);
  border: none;
}

/* possible fix to nav/header gradient fa icons not being shown on Chrome */
.navbar .fas,
.header .fas {
  display: initial;
}
