.header {
  text-align: center;
}

.header .awesome-text-gradient {
  margin-bottom: 0;
  padding: 0;
}

.header .subtitle {
  padding: 0;
  margin: 0;
}

.header .awesome-gradient {
  height: 2px;
}

.header .instructions-container {
  text-align: left;
  max-width: 60%;
  margin: auto;
}
