/* Thanks, https://codepen.io/benknight/pen/zxxeay */
.heading-divider {
  display: flex;
  align-items: center;
}

.heading-divider:before,
.heading-divider:after {
  content: "";
  flex: 1;
  height: 1px;
  margin: 5px 0.5em 0;
}

.heading-divider:before {
  background: rgba(0, 212, 255);
  background: linear-gradient(90deg, transparent, rgba(196, 43, 175, 1) 25%, rgba(0, 212, 255, 1) 75%);
}

.heading-divider:after {
  background: rgba(0, 212, 255);
  background: linear-gradient(90deg, rgba(0, 212, 255, 1) 25%, rgba(196, 43, 175, 1) 75%, transparent);
}
