.navbar {
  max-width: 100%;
  max-height: 60px;
  text-align: center;
  transition: 0.5s;
}

.navbar .title {
  margin: 0;
  padding: 0;
}

.navbar .title,
.navbar .toggle-theme-container {
  display: inline-block;
}
