.navbar {
  max-width: calc(100% - 16px);
  max-height: 60px;
  text-align: center;
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  flex: 1 1 auto;
}

.navbar .title {
  margin: 0;
  padding: 0;
}

.navbar .title,
.navbar .toggle-theme-container,
.navbar .saved-items-panel-container {
  display: inline-block;
}

.navbar .title {
  cursor: pointer;
}

.navbar .list-button {
  font-size: 18px;

}

.navbar .button-default {
  padding: 5px;
  margin: 15px;
}

.navbar .button-default .far,
.navbar .button-default .fas {
  margin-right: 5px;
}

.navbar .mobile .button-default .far,
.navbar .mobile .button-default .fas {
  margin-right: 0;
}