.saved-items-panel-container {
  position: relative;
}

.saved-items-panel {
  display: none;
  transition: 0.5s;
}

.saved-items-panel.open {
  display: block;
  position: absolute;
  margin: 10px;
  min-width: 600px;
  height: 650px;
  right: -115%;
  transition: 0.5s;
  overflow-y: scroll;
}

.saved-items-panel .saved-items-container {
  margin: auto;
  text-align: left;
  max-width: 400px;
}

.saved-items-panel .saved-item-container .button-default,
.saved-items-panel .saved-item-container .saved-item {
  display: inline;
}

.saved-items-panel .saved-item-container .button-default {
  padding: 2px 5px;
  margin: 2px 5px;
}

.saved-items-panel .saved-items-type-title {
  pointer-events: none;
}

.saved-items-panel .saved-items-type-title .icon {
  margin-right: 5px;
  color: #2979ff;
}

.saved-items-panel .saved-items-container:last-of-type {
  padding-bottom: 20px;
}
