.saved-items-panel-container {
  position: relative;
}

.saved-items-panel {
  display: none;
  transition: 0.5s;
}

.saved-items-panel.open {
  display: block;
  position: absolute;
  margin: 10px;
  min-width: 600px;
  height: 400px;
  right: -115%;
  transition: 0.5s;
  overflow-y: auto;
}

@media screen and (max-width: 728px) {
  .saved-items-panel.open {
    min-width: unset;
    max-width: 500px;
  } 
}

.saved-items-panel.open p {
  text-align: center;
}

.saved-items-panel .saved-items-container {
  text-align: left;
}

.saved-items-panel .saved-item-container .button-default,
.saved-items-panel .saved-item-container .saved-item {
  display: inline;
}

.saved-items-panel .saved-item-container .button-default {
  padding: 2px 5px;
  margin: 2px 5px;
}

.saved-items-panel .saved-items-type-title {
  pointer-events: none;
}

.saved-items-panel .saved-items-type-title .icon {
  margin-right: 5px;
  color: #6a7895;
}

.saved-items-panel .saved-items-container:last-of-type {
  padding-bottom: 20px;
}

.badge-count{
  height: 20px;
  width: 35px;
  margin: 3px -12px 0 18px;  
  font-size: 12px;
  background: rgba(215,115,515,0.1);
  border-radius: 30px;
}