.subjects {
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  transition: 0.5s;
}

.subjects .subject-title {
  display: inline;
  pointer-events: none;
}

.subjects .chevron-icon {
  pointer-events: none;
}

.subjects .tree-icon {
  margin-right: 5px;
}

.subjects-tree-title-container {
  padding: 10px;
}

.subjects-tree-title-container .toggle-subject-topics {
  cursor: pointer;
  margin: 5px;
}

.subjects-tree-title-container .toggle-subject-topics .topic-icon {
  margin-right: 5px;
}

.subject-container {
  padding: 0 10px;
}

.topic-container {
  margin: 0 10px;
}

.subject-topic-list-container .topic-container:last-child {
  margin-bottom: 10px;
}

.subject-topic-list-container {
  display: none;
}

.subject-topic-list-container.open {
  display: block;
  max-height: 100%;
}

.subject-topic-list-container .topic-icon {
  margin: 0 5px;
  pointer-events: none;
}

.subject-topic-list-container .topic-name {
  display: inline;
  pointer-events: none;
}
