.subjects {
  max-width: 450px;
  height: 100vh;
  overflow-y: auto;
}

.nightly-theme .subjects {
  background: #1d2129;
}

.brightly-theme .subjects {
  background: #FFF;
}

.nightly-theme .subject-container:hover,
.nightly-theme .topic-container:hover {
  background: #353c4b;
}

.brightly-theme .subject-container:hover,
.brightly-theme .topic-container:hover {
  background: #e1e4ea;
}

.subjects .subject-title {
  display: inline;
  pointer-events: none;
}

.subjects .chevron-icon {
  pointer-events: none;
}

.subjects .tree-icon {
  margin-right: 5px;
}

.subjects-tree-title-container {
  padding: 10px;
}

.subject-container {
  padding: 0 10px;
}

.topic-list-container .topic-container:last-child {
  margin-bottom: 10px;
}

.topic-list-container {
  display: none;
}

.topic-list-container.open {
  display: block;
  max-height: 100%;
}

.topic-list-container.open .topic-icon {
  margin-left: 15px;
}

.topic-list-container.open .topic-name {
  display: inline;
  margin: 0 10px;
}
