.nightly-theme {
  background: #030305;
  color: #FFF;
}

.brightly-theme {
  background: #cfd8dc;
  color: #000;
}

.nightly-theme,
.brightly-theme {
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}

.nightly-theme a {
  color: #bfbfbf;
}

.brightly-theme a {
  color: #404040;
}

.nightly-theme .navbar {
  background: #0a0c0f;
}

.brightly-theme .navbar {
  background: #cfd8dc;
}

.nightly-theme .toggle-theme {
  background: #1d2129;
  border: 1px solid #FFF;
  color: #FFF;
}

.brightly-theme .toggle-theme {
  background: #eceff1;
  border: 1px solid #000;
  color: #000;
}

.nightly-theme .subjects {
  background: #15181e;
}

.brightly-theme .subjects {
  background: #FFF;
}

.nightly-theme .subject-container:hover,
.nightly-theme .topic-container:hover {
  background: #353c4b;
}

.brightly-theme .subject-container:hover,
.brightly-theme .topic-container:hover {
  background: #e1e4ea;
}

.nightly-theme .topic-list-container {
  background: #1f242d;
}

.brightly-theme .topic-list-container {
  background: #e1e4ea;
}

.brightly-theme .footer {
  background: #cfd8dc;
}

.nightly-theme .footer {
  background: #0a0c0f;
}

.brightly-theme .footer .social-list .social-icon {
  color: #000;
}

.nightly-theme .footer .social-list .social-icon {
  color: #FFF;
}

.nightly-theme .subject-topic-list-container .selected {
  background: #353c4b;
}

.brightly-theme .subject-topic-list-container .selected {
  background: #e1e4ea;
}
