.topic-box {
  background: navy;
  border: 2px solid cyan;
  border-radius: 20px;
  margin: 40px;
  padding: 5px;
  position: relative;
  width: 200px;
  z-index: 1;
}

.topic-box .icon {
  background: navy;
  border-radius: 20px;
  border: 2px solid cyan;
  font-size: 40px;
  padding: 5px;
  margin: 20px;
  position: absolute;
  right: 50%;
  top: -50px;
  z-index: 2;
}
