.topic-box {
  border: 2px solid;
  border-radius: 20px;
  margin: 40px;
  padding: 5px;
  position: relative;
  transition: 1s;
  width: 200px;
}

.topic-box .icon {
  border-radius: 20px;
  border: 2px solid;
  font-size: 40px;
  padding: 5px;
  margin: 20px;
  position: absolute;
  right: 50%;
  top: -50px;
  transition: 1s;
}
